<% provide(:title, 'Reset password for user ' + @auth.user.email) %>

<h1>Reset password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@auth, url: restore_password_authorization_path(@auth, @auth.restore_password_hash)) do |f| %>

        <%= render 'shared/error_messages', object: @auth %>

        <%=f.label :password%>
        <%=f.password_field :password%>

        <%=f.label :password_confirmation, "Confirmation"%>
        <%=f.password_field :password_confirmation%>

        <%= submit_tag "Reset password", class: "btn btn-large btn-primary" %>

    <% end %>
  </div>
</div>