<% provide(:title, "Restore password") %>

<h1>Restore password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@restore_password, url: restore_password_email_path) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :email %>
        <%= f.email_field :email%>

        <%= f.submit "Restore password", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>